<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>place</key>
	<string>Fort Mason (Same Place)</string>
	<key>description</key>
	<string>Thursday at 8pm (20:00), we will enjoy merriment in our after-party.\n\n The after-party will be located in the same place as the talks so that travel should be easy.\n\n There will be food and refreshments to re-stimulate your code drenched brain.</string>
	<key>latitude</key>
	<real>37.8078</real>
	<key>longitude</key>
	<real>-122.4297</real>
	<key>span</key>
	<real>0.02</real>
</dict>
</plist>
