<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>speakers</key>
	<array>
		<dict>
			<key>name</key>
			<string>Laurent Sansonetti</string>
			<key>company</key>
			<string>HipByte</string>
			<key>description</key>
			<string>Laurent is the creator of RubyMotion and the conference organizer. He will welcome you at the conference, and talk about RubyMotion&apos;s State of the Union.</string>
			<key>twitter</key>
			<string>lrz</string>
			<key>www</key>
			<string>http://www.rubymotion.com</string>
			<key>speaker_image</key>
			<string>speakers/2014/laurent.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jamon Holmgren</string>
			<key>company</key>
			<string>ClearSight Studio</string>
			<key>description</key>
			<string>Jamon is the owner of ClearSight Studio and the popular ProMotion framework, Jamon will talk about going from a prototype to a production app.</string>
			<key>twitter</key>
			<string>jamonholmgren</string>
			<key>www</key>
			<string>http://clearsightstudio.com</string>
			<key>speaker_image</key>
			<string>speakers/2014/jamon.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nikolay Nemshilov</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Nikolay will present UnderOS, a project that aims to help web-developers to get into native iOS development by reusing knowledge and technologies they already know.</string>
			<key>twitter</key>
			<string>nemshilov</string>
			<key>www</key>
			<string>http://under-os.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/nikolay.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Todd Werth</string>
			<key>company</key>
			<string>InfiniteRed</string>
			<key>description</key>
			<string>Todd is the creator of RubyMotionQuery (known as RMQ) and the writer of the Dispatch newsletter. He will cover what&apos;s new in RMQ.</string>
			<key>twitter</key>
			<string>twerth</string>
			<key>www</key>
			<string>http://infinitered.com/rmq/</string>
			<key>speaker_image</key>
			<string>speakers/2014/todd.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panel</string>
			<key>company</key>
			<string>Assorted</string>
			<key>description</key>
			<string>The Panel is dedicated to RubyMotion apps in production.  We will be inviting folks working on high-profile RubyMotion apps on stage, ask them about their experience and common pitfalls, then get questions from the audience.</string>
			<key>twitter</key>
			<string>rubymotion</string>
			<key>www</key>
			<string></string>
			<key>speaker_image</key>
			<string>speakers/2014/panel.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mark Rickert</string>
			<key>company</key>
			<string>Mohawk Apps</string>
			<key>description</key>
			<string>Mark Rickert, owner of Mohawk Apps, is the author of numerous RubyMotion apps, all of which are open-source. Mark also has a lot of experience marketing apps and will teach us a few tricks on how to promote an app in the App Store and through other channels.</string>
			<key>twitter</key>
			<string>markrickert</string>
			<key>www</key>
			<string>http://www.mohawkapps.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/mark.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Andy Pliszka</string>
			<key>company</key>
			<string>Pivotal Labs</string>
			<key>description</key>
			<string>Andy Pliszka works at Pivotal Labs on large iOS projects. He will talk about setting up RubyMotion for Test-Driven Development (TDD) and how to leverage test-first methodology when building RubyMotion projects.</string>
			<key>twitter</key>
			<string>AntiTyping</string>
			<key>www</key>
			<string>http://antityping.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/andy.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Isaac Murchie</string>
			<key>company</key>
			<string>SauceLabs</string>
			<key>description</key>
			<string>Isaac Murchie works at Sauce Labs and will talk about using tried-and-true Ruby tools, such as RSpec, Cucumber and Capybara, to automate the testing of RubyMotion projects with Appium, in order to deliver robust mobile apps.</string>
			<key>twitter</key>
			<string>imurchie</string>
			<key>www</key>
			<string>http://appium.io/</string>
			<key>speaker_image</key>
			<string>speakers/2014/isaac.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lori Olson</string>
			<key>company</key>
			<string>Kudos</string>
			<key>description</key>
			<string>Lori Olson, author of a RubyMotion book about Core Data, will share her experience in solving real problems using Core Data in RubyMotion apps.</string>
			<key>twitter</key>
			<string>wndxlori</string>
			<key>www</key>
			<string>http://book.coredatainmotion.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/lori.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ken Miller</string>
			<key>company</key>
			<string>InfiniteRed</string>
			<key>description</key>
			<string>Ken Miller, co-founder of InfiniteRed, is the author of CoreDataQuery (CDQ), a library which aims at making Core Data easier to use. Ken will talk about CDQ and what’s new.</string>
			<key>twitter</key>
			<string>seriousken</string>
			<key>www</key>
			<string>https://github.com/infinitered/cdq</string>
			<key>speaker_image</key>
			<string>speakers/2014/ken.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jack Watson-Hamblin</string>
			<key>company</key>
			<string>MotionInMotion</string>
			<key>description</key>
			<string>Jack Watson-Hamblin, creator of MotionInMotion, the popular weekly screencast, will talk about the RubyMotion community and what we can do to make it better.</string>
			<key>twitter</key>
			<string>RubyMotionTV</string>
			<key>www</key>
			<string>https://motioninmotion.tv/</string>
			<key>speaker_image</key>
			<string>speakers/2014/jack.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alex Rothenberg</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Alex Rothenberg is a software engineer at McKinsey and the author of the motion-addressbook library. He will talk about simplifying the Cocoa APIs and making sure they do not crush your Ruby code.</string>
			<key>twitter</key>
			<string>AlexRothenberg</string>
			<key>www</key>
			<string>https://github.com/alexrothenberg/motion-addressbook</string>
			<key>speaker_image</key>
			<string>speakers/2014/alex.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dave Lee</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Dave Lee is a contributor to ReactiveCocoa, a framework that provides Functional Reactive Programming to Cocoa apps. Dave will talk about integrating ReactiveCocoa in RubyMotion.</string>
			<key>twitter</key>
			<string>kastiglione</string>
			<key>www</key>
			<string>https://github.com/ReactiveCocoa/ReactiveCocoa</string>
			<key>speaker_image</key>
			<string>speakers/2014/dave.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clay Allsopp</string>
			<key>company</key>
			<string>Propeller</string>
			<key>description</key>
			<string>Clay Allsopp, author of the Pragmatic Programmers’ RubyMotion book and numerous libraries will talk about building build tools that build tools to build apps. Sounds crazy and interesting!</string>
			<key>twitter</key>
			<string>clayallsopp</string>
			<key>www</key>
			<string>http://clayallsopp.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/clay.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paul Colton</string>
			<key>company</key>
			<string>CEO Pixate</string>
			<key>description</key>
			<string>Paul Colton is the co-Founder and CEO of Pixate. Paul will review the Freestyle framework and how it can be used to style RubyMotion apps using just plain CSS.</string>
			<key>twitter</key>
			<string>paulcolton</string>
			<key>www</key>
			<string>http://www.pixate.com</string>
			<key>speaker_image</key>
			<string>speakers/2014/paul.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Austin Seraphin</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Austin Seraphin is a blind developer and an accessibility expert. Austin was a speaker at #inspect 2013 last year and delivered one of the most acclaimed presentations. Since then, he authored the motion-accessibility gem and will talk about how making RubyMotion apps accessible to the blind.</string>
			<key>twitter</key>
			<string>AustinSeraphin</string>
			<key>www</key>
			<string>https://github.com/austinseraphin/motion-accessibility</string>
			<key>speaker_image</key>
			<string>speakers/2014/austin.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ivan Acosta-Rubio</string>
			<key>company</key>
			<string>Software Criollo</string>
			<key>description</key>
			<string>Ivan Acosta-Rubio writes iOS apps using RubyMotion at Software Criollo. In his talk, Ivan will introduce the AV-Foundation framework and how to capture media on iOS and OS X. Let’s write some spying tools!</string>
			<key>twitter</key>
			<string>ivanacostarubio</string>
			<key>www</key>
			<string>http://softwarecriollo.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/ivan.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Will Raxworthy</string>
			<key>company</key>
			<string>Kinesis</string>
			<key>description</key>
			<string>Will Raxworthy, author of numerous blog posts about RubyMotion, will talk about 2D game development, using the new SpriteKit framework and integrating with native game controllers, and eventually write a Flappy Bird clone!</string>
			<key>twitter</key>
			<string>willrax</string>
			<key>www</key>
			<string>http://blog.willrax.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/will.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mark Villacampa</string>
			<key>company</key>
			<string>Cabify</string>
			<key>description</key>
			<string>Mark Villacampa works for Cabify on their RubyMotion app and is also a hardware enthusiast, hacking 3D printers. Mark will talk about connecting RubyMotion to hardware, walk through all the available options, and giving recommendations for the folks interested to try at home.</string>
			<key>twitter</key>
			<string>MarkVillacampa</string>
			<key>www</key>
			<string>http://markvillacampa.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/mark2.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kevin Poorman</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Kevin Poorman is a software architect at West Monroe Partners and a certified Force.com developer. He authored several RubyMotion apps, all tied to the Salesforce enterprise resource, and will talk about connecting RubyMotion to enterprise systems.</string>
			<key>twitter</key>
			<string>codefriar</string>
			<key>www</key>
			<string>http://codefriar.com/</string>
			<key>speaker_image</key>
			<string>speakers/2014/kevin.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dennis Ushakov</string>
			<key>company</key>
			<string>JetBrains</string>
			<key>description</key>
			<string>Dennis Ushakov, a software engineer at JetBrains, will show off RubyMine and its excellent integration with the RubyMotion toolchain.</string>
			<key>twitter</key>
			<string>en_Dal</string>
			<key>www</key>
			<string>http://blog.jetbrains.com/ruby/</string>
			<key>speaker_image</key>
			<string>speakers/2014/dennis.jpg</string>
		</dict>
	</array>
</dict>
</plist>
