<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Laurent Sansonetti</string>
			<key>company</key>
			<string>HipByte</string>
			<key>description</key>
			<string>Laurent is the creator of RubyMotion and the conference organizer. He will welcome you at the conference, and talk about RubyMotion's State of the Union.</string>
			<key>twitter</key>
			<string>lrz</string>
			<key>www</key>
			<string>http://www.rubymotion.com</string>
			<key>speaker_image</key>
      <string>speakers/2014/laurent.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jamon Holmgren</string>
			<key>company</key>
			<string>ClearSight Studio</string>
			<key>description</key>
			<string>Jamon is the owner of ClearSight Studio and the popular ProMotion framework, Jamon will talk about going from a prototype to a production app.</string>
			<key>twitter</key>
			<string>jamonholmgren</string>
			<key>www</key>
			<string>http://clearsightstudio.com</string>
			<key>speaker_image</key>
      <string>speakers/2014/jamon.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nikolay Nemshilov</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Nikolay will present UnderOS, a project that aims to help web-developers to get into native iOS development by reusing knowledge and technologies they already know.</string>
			<key>twitter</key>
			<string>karlkrukow</string>
			<key>www</key>
			<string>https://www.lesspainful.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/nikolay.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Todd Werth</string>
			<key>company</key>
			<string>InfiniteRed</string>
			<key>description</key>
      <string>Todd is the creator of RubyMotionQuery (known as RMQ) and the writer of the Dispatch newsletter. He will cover what's new in RMQ.</string>
			<key>twitter</key>
			<string>rich_kilmer</string>
			<key>www</key>
			<string>http://en.wikipedia.org/wiki/Richard_Kilmer</string>
			<key>speaker_image</key>
      <string>speakers/2014/todd.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panel</string>
			<key>company</key>
			<string>Assorted</string>
			<key>description</key>
			<string>Austin is a blind programmer. In his talk, you will discover exactly how a blind person uses an iOS device and how RubyMotion makes writing accessible apps easier.</string>
			<key>twitter</key>
			<string>omeron23</string>
			<key>www</key>
			<string>http://behindthecurtain.us/</string>
			<key>speaker_image</key>
      <string>speakers/2014/panel.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mark Rickert</string>
			<key>company</key>
			<string>Mohawk Apps</string>
			<key>description</key>
			<string>Jonathan is the mad scientist behind Navel Labs and also the scribbler-in-chief at Cocoa Manifest. In his talk he will explore the subtleties of the CoreData framework. Be prepared!</string>
			<key>twitter</key>
			<string>jonathanpenn</string>
			<key>www</key>
			<string>http://cocoamanifest.net/</string>
			<key>speaker_image</key>
      <string>speakers/2014/mark.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Andy Pliszka</string>
			<key>company</key>
			<string>Pivotal Labs</string>
			<key>description</key>
			<string>Joshua is a software engineer at BurnSide Digital and a former long-time Apple employee. He will talk about the life and times of an object, or, how to debug memory-related bugs.</string>
			<key>twitter</key>
			<string>manhattanmetric</string>
			<key>www</key>
			<string></string>
			<key>speaker_image</key>
      <string>speakers/2014/andy.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Isaac Murchie</string>
			<key>company</key>
			<string>SauceLabs</string>
			<key>description</key>
			<string>Mateus is a computer scientist for the largest European telecom and also a long-time RubyMotion hacker. His talk will focus on iOS concurrency patterns such as GCD and NSOperationQueue.</string>
			<key>twitter</key>
			<string>seanlilmateus</string>
			<key>www</key>
			<string>http://github.com/seanlilmateus</string>
			<key>speaker_image</key>
      <string>speakers/2014/isaac.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lori Olson</string>
			<key>company</key>
			<string>Kudos</string>
			<key>description</key>
			<string>Dennis is the RubyMine project lead developer at JetBrains. He will talk about RubyMine and how you can use it to get more from RubyMotion.</string>
			<key>twitter</key>
			<string>en_Dal</string>
			<key>www</key>
			<string>http://www.jetbrains.com/ruby</string>
			<key>speaker_image</key>
      <string>speakers/2014/lori.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ken Miller</string>
			<key>company</key>
			<string>InfiniteRed</string>
			<key>description</key>
			<string>Delisa is a software developer at Neo and creator of the RubyMotion plugin for Redcar, the ruby editor. She will talk about customizing an iOS dev workflow using rubies all the way down.</string>
			<key>twitter</key>
			<string>kattrali</string>
			<key>www</key>
			<string>http://kattrali.github.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/ken.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jack Watson-Hamblin</string>
			<key>company</key>
			<string>MotionInMotion</string>
			<key>description</key>
			<string>Mattt Thompson is the Mobile Lead at Heroku, and the creator and maintainer of popular open-source projects. He will talk about how Rubyists shaped the Objective-C community.</string>
			<key>twitter</key>
			<string>mattt</string>
			<key>www</key>
			<string>http://mattt.me/</string>
			<key>speaker_image</key>
      <string>speakers/2014/jack.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Alex Rothenberg</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Eloy is a professional gesticulator at Fingertips and a long-time RubyMotion hacker. He will talk about writing functional tests and also cover CocoaPods, the package manager he invented.</string>
			<key>twitter</key>
			<string>alloy</string>
			<key>www</key>
			<string>http://www.fngtps.com</string>
			<key>speaker_image</key>
      <string>speakers/2014/alex.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dave Lee</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Clay is a key RubyMotion contributor, having written several tutorials, including a book for the Pragmatic Programmers, and having worked on numerous libraries. He will talk about writing wrappers for iOS.</string>
			<key>twitter</key>
			<string>clayallsopp</string>
			<key>www</key>
			<string>http://clayallsopp.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/dave.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clay Allsopp</string>
			<key>company</key>
			<string>Propeller</string>
			<key>description</key>
			<string>Colin is an iOS developer working for Simple Energy and an early RubyMotion user. He will talk about Teacup, a powerful library to build user interfaces that he co-authored with Conrad Irwin.</string>
			<key>twitter</key>
			<string>colinta</string>
			<key>www</key>
			<string>http://colinta.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/clay.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Paul Colton</string>
			<key>company</key>
			<string>CEO Pixate</string>
			<key>description</key>
			<string>Matt Green is a software developer and the author of Nitron and other RubyMotion libraries. He will discuss how layering can simplify your development process, and show off his new gem!</string>
			<key>twitter</key>
			<string>mattgreenrocks</string>
			<key>www</key>
			<string>https://github.com/mattgreen</string>
			<key>speaker_image</key>
      <string>speakers/2014/paul.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Austin Seraphin</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Marin Usalj is a freelancer iOS developer living in San Francisco. He is one of the maintainers of BubbleWrap and he will talk about how using it to quickly building apps with networking, persistence and more.</string>
			<key>twitter</key>
			<string>mneorr</string>
			<key>www</key>
			<string>http://mneorr.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/austin.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ivan Acosta-Rubio</string>
			<key>company</key>
			<string>Software Criollo</string>
			<key>description</key>
			<string>Michael is a software developer living in South Africa and also one of the guys making the motioncasts.tv screencasts. In his talk he will cover mixing RubyMotion with CoffeeScript.</string>
			<key>twitter</key>
			<string>michael_erasmus</string>
			<key>www</key>
			<string>http://motioncasts.tv/</string>
			<key>speaker_image</key>
      <string>speakers/2014/ivan.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Will Raxworthy</string>
			<key>company</key>
			<string>Kinesis</string>
			<key>description</key>
			<string>Amit is a Rubyist working for India's largest IT company and also an early RubyMotion developer. He will talk about creating interactive data visualization charts.</string>
			<key>twitter</key>
			<string>toamit</string>
			<key>www</key>
			<string>http://toamitkumar.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/will.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mark Villacampa</string>
			<key>company</key>
			<string>Cabify</string>
			<key>description</key>
			<string>Juan is an iOS developer working for Raku, a consultancy agency in Mexico. In his talk he will unveil the mysteries behind Core Animation and cocos2d and how you can leverage them in RubyMotion. </string>
			<key>twitter</key>
			<string>JuanKaram</string>
			<key>www</key>
			<string>http://raku.mx/</string>
			<key>speaker_image</key>
      <string>speakers/2014/mark2.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kevin Poorman</string>
			<key>company</key>
			<string>Independent</string>
			<key>description</key>
			<string>Abhishek will be joined by Akshat Paul, they are both tech leads at McKinsey and authors of an upcoming RubyMotion book. They will talk about CoreMotion and how you can make an intuitive app using sensors.</string>
			<key>twitter</key>
      <string>nalwayaabhishek</string>
			<key>www</key>
			<string>http://nalwaya.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/kevin.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dennis Ushakov</string>
			<key>company</key>
			<string>JetBrains</string>
			<key>description</key>
			<string>Abhishek will be joined by Akshat Paul, they are both tech leads at McKinsey and authors of an upcoming RubyMotion book. They will talk about CoreMotion and how you can make an intuitive app using sensors.</string>
			<key>twitter</key>
      <string>nalwayaabhishek</string>
			<key>www</key>
			<string>http://nalwaya.com/</string>
			<key>speaker_image</key>
      <string>speakers/2014/dennis.jpg</string>
		</dict>
	</array>
</plist>
