<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Pixate</string>
			<key>image</key>
			<string>sponsors/pixate_large.png</string>
			<key>www</key>
			<string>http://pixate.com</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Terrible Labs</string>
			<key>image</key>
			<string>sponsors/terrible_labs_small.png</string>
			<key>www</key>
			<string>http://terriblelabs.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RubyMine</string>
			<key>image</key>
			<string>sponsors/rubymine_small.png</string>
			<key>www</key>
			<string>http://www.jetbrains.com/ruby/</string>
		</dict>
	</array>
</plist>
