<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>d28</key>
	<array>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:30</string>
			<key>title</key>
			<string>RubyMotion State of the Union</string>
			<key>speaker</key>
			<string>Laurent Sansonetti</string>
			<key>speaker_company</key>
			<string>HipByte</string>
			<key>speaker_image</key>
			<string>speakers/laurent_small.png</string>
			<key>speaker_index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>10:30</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>10:45</string>
			<key>title</key>
			<string>Going Pro with ProMotion: From Prototype to Production</string>
			<key>speaker</key>
			<string>Jamon Holmgren</string>
			<key>speaker_company</key>
			<string>ClearSight Studio</string>
			<key>speaker_image</key>
			<string>speakers/nick_small.png</string>
			<key>speaker_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:20</string>
			<key>title</key>
			<string>UnderOS, Native iOS for Web-Developers</string>
			<key>speaker</key>
			<string>Nikolay Nemshilov</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/karl_small.png</string>
			<key>speaker_index</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:55</string>
			<key>title</key>
			<string>RubyMotionQuery</string>
			<key>speaker</key>
			<string>Todd Werth</string>
			<key>speaker_company</key>
			<string>InfiniteRed</string>
			<key>speaker_image</key>
			<string>speakers/rich_small.png</string>
			<key>speaker_index</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>12:30</string>
			<key>title</key>
			<string>Lunch</string>
			<key>icon</key>
			<string>lunch.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:00</string>
			<key>title</key>
			<string>RubyMotion In Production</string>
			<key>speaker</key>
			<string>Panel</string>
			<key>speaker_company</key>
			<string>Assorted</string>
			<key>speaker_image</key>
			<string>speakers/austin_small.png</string>
			<key>speaker_index</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:35</string>
			<key>title</key>
			<string>App Promotion: Strategy and Execution</string>
			<key>speaker</key>
      <string>Mark Rickert</string>
			<key>speaker_company</key>
			<string>Mohawk Apps</string>
			<key>speaker_image</key>
			<string>speakers/jonathan_small.png</string>
			<key>speaker_index</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>3:10</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>3:30</string>
			<key>title</key>
			<string>Test Driven Motion</string>
			<key>speaker</key>
			<string>Andy Pliszka</string>
			<key>speaker_company</key>
			<string>Pivotal Labs</string>
			<key>speaker_image</key>
			<string>speakers/joshua_small.png</string>
			<key>speaker_index</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>4:05</string>
			<key>title</key>
			<string>Testing RubyMotion Applications using Appium</string>
			<key>speaker</key>
			<string>Isaac Murchie</string>
			<key>speaker_company</key>
			<string>SauceLabs</string>
			<key>speaker_image</key>
			<string>speakers/mateus_small.png</string>
			<key>speaker_index</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>4:40</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:00</string>
			<key>title</key>
			<string>CoreData and RubyMotion</string>
			<key>speaker</key>
			<string>Lori Olson</string>
			<key>speaker_company</key>
			<string>Kudos</string>
			<key>speaker_image</key>
			<string>speakers/dennis_small.png</string>
			<key>speaker_index</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:35</string>
			<key>title</key>
			<string>CoreDataQuery (CDQ)</string>
			<key>speaker</key>
			<string>Ken Miller</string>
			<key>speaker_company</key>
			<string>InfiniteRed</string>
			<key>speaker_image</key>
			<string>speakers/delisa_small.png</string>
			<key>speaker_index</key>
			<integer>9</integer>
		</dict>
	</array>
	<key>d29</key>
	<array>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:00</string>
			<key>title</key>
			<string>How Ruby hackers built the new Objective-C Open Source community</string>
			<key>speaker</key>
			<string>Mattt Thompson</string>
			<key>speaker_company</key>
			<string>Heroku</string>
			<key>speaker_image</key>
			<string>speakers/mattt_small.png</string>
			<key>speaker_index</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>09:30</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:45</string>
			<key>title</key>
			<string>More Than You Need to Know About CocoaPods</string>
			<key>speaker</key>
			<string>Eloy Duran</string>
			<key>speaker_company</key>
			<string>Fingertips</string>
			<key>speaker_image</key>
			<string>speakers/eloy_small.png</string>
			<key>speaker_index</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>10:15</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>10:30</string>
			<key>title</key>
			<string>Wrapping iOS in RubyMotion</string>
			<key>speaker</key>
			<string>Clay Allsopp</string>
			<key>speaker_company</key>
			<string>Propeller</string>
			<key>speaker_image</key>
			<string>speakers/clay_small.png</string>
			<key>speaker_index</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>11:00</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:15</string>
			<key>title</key>
			<string>Goodbye IB, Hello Teacup</string>
			<key>speaker</key>
			<string>Colin Gray</string>
			<key>speaker_company</key>
			<string>Simple Energy</string>
			<key>speaker_image</key>
			<string>speakers/colin_small.png</string>
			<key>speaker_index</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>11:45</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>12:00</string>
			<key>title</key>
			<string>Elevate your Intent</string>
			<key>speaker</key>
			<string>Matt Green</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/matt_small.png</string>
			<key>speaker_index</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>12:30</string>
			<key>title</key>
			<string>Lunch</string>
			<key>icon</key>
			<string>lunch.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>14:00</string>
			<key>title</key>
			<string>Using BubbleWrap to Quickly Build RubyMotion Apps</string>
			<key>speaker</key>
      <string>Marin Usalj</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/marin_small.png</string>
			<key>speaker_index</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>14:30</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>14:45</string>
			<key>title</key>
			<string>Mixing CoffeeScript in RubyMotion apps</string>
			<key>speaker</key>
			<string>Michael Erasmus</string>
			<key>speaker_company</key>
			<string>motioncasts.tv</string>
			<key>speaker_image</key>
			<string>speakers/michael_small.png</string>
			<key>speaker_index</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>15:15</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>15:30</string>
			<key>title</key>
			<string>Building Interactive Data Visualization Charts</string>
			<key>speaker</key>
			<string>Amit Kumar</string>
			<key>speaker_company</key>
			<string>McKinsey &amp; Company</string>
			<key>speaker_image</key>
			<string>speakers/amit_small.png</string>
			<key>speaker_index</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>16:00</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>16:15</string>
			<key>title</key>
			<string>Cocos2D, an Easier Way</string>
			<key>speaker</key>
			<string>Juan Karam</string>
			<key>speaker_company</key>
			<string>Raku</string>
			<key>speaker_image</key>
			<string>speakers/juan_small.png</string>
			<key>speaker_index</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>16:45</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>17:00</string>
			<key>title</key>
			<string>Let's Move with CoreMotion</string>
			<key>speaker</key>
			<string>Abhishek Nalwaya</string>
			<key>speaker_company</key>
			<string>McKinsey &amp; Company</string>
			<key>speaker_image</key>
			<string>speakers/abhishek_small.png</string>
			<key>speaker_index</key>
			<integer>19</integer>
		</dict>
	</array>
</dict>
</plist>
