<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>d28</key>
	<array>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>8:30</string>
			<key>title</key>
			<string>Registration &amp; Breakfast</string>
			<key>icon</key>
			<string>dot.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>9:15</string>
			<key>title</key>
			<string>Welcome</string>
			<key>icon</key>
			<string>welcome.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:30</string>
			<key>title</key>
			<string>RubyMotion State of the Union</string>
			<key>speaker</key>
			<string>Laurent Sansonetti</string>
			<key>speaker_company</key>
			<string>HipByte</string>
			<key>speaker_image</key>
			<string>speakers/2014/laurent_small.jpg</string>
			<key>speaker_index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>10:30</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>10:45</string>
			<key>title</key>
			<string>Going Pro with ProMotion: From Prototype to Production</string>
			<key>speaker</key>
			<string>Jamon Holmgren</string>
			<key>speaker_company</key>
			<string>ClearSight Studio</string>
			<key>speaker_image</key>
			<string>speakers/2014/jamon_small.jpg</string>
			<key>speaker_index</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:35</string>
			<key>title</key>
			<string>RubyMine</string>
			<key>speaker</key>
			<string>Dennis Ushakov</string>
			<key>speaker_company</key>
			<string>JetBrains</string>
			<key>speaker_image</key>
			<string>speakers/2014/dennis_small.jpg</string>
			<key>speaker_index</key>
			<integer>2</integer>
		</dict>				
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:55</string>
			<key>title</key>
			<string>RubyMotionQuery</string>
			<key>speaker</key>
			<string>Todd Werth</string>
			<key>speaker_company</key>
			<string>InfiniteRed</string>
			<key>speaker_image</key>
			<string>speakers/2014/todd_small.jpg</string>
			<key>speaker_index</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>12:30</string>
			<key>title</key>
			<string>Lunch</string>
			<key>icon</key>
			<string>lunch.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:00</string>
			<key>title</key>
			<string>RubyMotion in Production</string>
			<key>speaker</key>
			<string>Panel</string>
			<key>speaker_company</key>
			<string>Assorted</string>
			<key>speaker_image</key>
			<string>speakers/2014/panel_small.jpg</string>
			<key>speaker_index</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:35</string>
			<key>title</key>
			<string>App Promotion: Strategy and Execution</string>
			<key>speaker</key>
      <string>Mark Rickert</string>
			<key>speaker_company</key>
			<string>Mohawk Apps</string>
			<key>speaker_image</key>
			<string>speakers/2014/mark_small.jpg</string>
			<key>speaker_index</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>3:10</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>3:30</string>
			<key>title</key>
			<string>Kill the Controllers</string>
			<key>speaker</key>
			<string>Colin T.A. Gray</string>
			<key>speaker_company</key>
			<string>HipByte &amp; Jukely</string>
			<key>speaker_image</key>
			<string>speakers/2014/colin_small.jpg</string>
			<key>speaker_index</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>4:05</string>
			<key>title</key>
			<string>Testing RubyMotion Applications using Appium</string>
			<key>speaker</key>
			<string>Isaac Murchie</string>
			<key>speaker_company</key>
			<string>SauceLabs</string>
			<key>speaker_image</key>
			<string>speakers/2014/isaac_small.jpg</string>
			<key>speaker_index</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>4:40</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:00</string>
			<key>title</key>
			<string>CoreData and RubyMotion</string>
			<key>speaker</key>
			<string>Lori Olson</string>
			<key>speaker_company</key>
			<string>Kudos</string>
			<key>speaker_image</key>
			<string>speakers/2014/lori_small.jpg</string>
			<key>speaker_index</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:35</string>
			<key>title</key>
			<string>CoreDataQuery (CDQ)</string>
			<key>speaker</key>
			<string>Ken Miller</string>
			<key>speaker_company</key>
			<string>InfiniteRed</string>
			<key>speaker_image</key>
			<string>speakers/2014/ken_small.jpg</string>
			<key>speaker_index</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>8:00</string>
			<key>title</key>
			<string>CocoaKucha</string>
			<key>icon</key>
			<string>cocoa.png</string>
		</dict>
	</array>
	<key>d29</key>
	<array>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>8:30</string>
			<key>title</key>
			<string>Registration &amp; Breakfast</string>
			<key>icon</key>
			<string>dot.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>9:10</string>
			<key>title</key>
			<string>Welcome</string>
			<key>icon</key>
			<string>welcome.png</string>
		</dict>	
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:15</string>
			<key>title</key>
			<string>Making RubyMotion Better - Structure, Gems, and Community</string>
			<key>speaker</key>
			<string>Jack Watson-Hamblin</string>
			<key>speaker_company</key>
			<string>MotionInMotion</string>
			<key>speaker_image</key>
			<string>speakers/2014/jack_small.jpg</string>
			<key>speaker_index</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>09:50</string>
			<key>title</key>
			<string>Don't Let the Cocoa API Crush Your Ruby Code</string>
			<key>speaker</key>
			<string>Alex Rothenberg</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/2014/alex_small.jpg</string>
			<key>speaker_index</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>10:25</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>10:45</string>
			<key>title</key>
			<string>Reactive RubyMotion</string>
			<key>speaker</key>
			<string>Dave Lee</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/2014/dave_small.jpg</string>
			<key>speaker_index</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:20</string>
			<key>title</key>
			<string>Building Apps that Build Apps</string>
			<key>speaker</key>
			<string>Clay Allsopp</string>
			<key>speaker_company</key>
			<string>Propeller</string>
			<key>speaker_image</key>
			<string>speakers/2014/clay_small.jpg</string>
			<key>speaker_index</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:55</string>
			<key>title</key>
			<string>Pixate</string>
			<key>speaker</key>
			<string>Paul Colton</string>
			<key>speaker_company</key>
			<string>CEO Pixate</string>
			<key>speaker_image</key>
			<string>speakers/2014/paul_small.jpg</string>
			<key>speaker_index</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>12:30</string>
			<key>title</key>
			<string>Lunch</string>
			<key>icon</key>
			<string>lunch.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:00</string>
			<key>title</key>
			<string>RubyMotion and Accessibility</string>
			<key>speaker</key>
      <string>Austin Seraphin</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/2014/austin_small.jpg</string>
			<key>speaker_index</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>2:35</string>
			<key>title</key>
			<string>AVFoundation</string>
			<key>speaker</key>
			<string>Ivan Acosta-Rubio</string>
			<key>speaker_company</key>
			<string>Software Criollo</string>
			<key>speaker_image</key>
			<string>speakers/2014/ivan_small.jpg</string>
			<key>speaker_index</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>3:10</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>3:30</string>
			<key>title</key>
			<string>SkFun: SpriteKit and RubyMotion</string>
			<key>speaker</key>
			<string>Will Raxworthy</string>
			<key>speaker_company</key>
			<string>Kinesis</string>
			<key>speaker_image</key>
			<string>speakers/2014/will_small.jpg</string>
			<key>speaker_index</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>4:05</string>
			<key>title</key>
			<string>Connecting RubyMotion</string>
			<key>speaker</key>
			<string>Mark Villacampa</string>
			<key>speaker_company</key>
			<string>Cabify</string>
			<key>speaker_image</key>
			<string>speakers/2014/mark2_small.jpg</string>
			<key>speaker_index</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>4:40</string>
			<key>title</key>
			<string>Break</string>
			<key>icon</key>
			<string>coffee-cup.png</string>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>5:00</string>
			<key>title</key>
			<string>Connecting RubyMotion to Enterprise Systems</string>
			<key>speaker</key>
			<string>Kevin Poorman</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/2014/kevin_small.jpg</string>
			<key>speaker_index</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>talk</string>
			<key>time</key>
			<string>11:20</string>
			<key>title</key>
			<string>UnderOS, Native iOS for Web-Developers</string>
			<key>speaker</key>
			<string>Nikolay Nemshilov</string>
			<key>speaker_company</key>
			<string>Independent</string>
			<key>speaker_image</key>
			<string>speakers/2014/nikolay_small.jpg</string>
			<key>speaker_index</key>
			<integer>20</integer>
		</dict>	
		<dict>
			<key>type</key>
			<string>break</string>
			<key>time</key>
			<string>8:00</string>
			<key>title</key>
			<string>Party</string>
			<key>icon</key>
			<string>party.png</string>
		</dict>
	</array>
</dict>
</plist>
